<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebBotilleriaDBEntities" connectionString="metadata=res://*/ModeloEntidadBotilleria.csdl|res://*/ModeloEntidadBotilleria.ssdl|res://*/ModeloEntidadBotilleria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WebBotilleriaDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>