<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BotilleriaEntities" connectionString="metadata=res://*/EDMBotilleria.csdl|res://*/EDMBotilleria.ssdl|res://*/EDMBotilleria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=WebBotilleria;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>